{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "plugin": "eslint-plugin-react",
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": 0,
    "func-names": 0
  }
}
