@import 'bootstrap/dist/css/bootstrap';
@import 'font-awesome/css/font-awesome';
@import 'react-toggle/style';

@import './_variables';
@import './_header';
@import './_main';

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.app--wrapper {
  padding-top: $header-height;
}
